.moja-klasa {
    margin-left: 40%;
}
.tekst{
color: rgb(0, 183, 255);
font-size: 20px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
margin-left: 5%;
margin-right: 10%;

}
body{
    background-color:;
}